header{
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    background-color: #000;
}

body {
    display: flex;
    justify-content: center;
    font-family: helvetica, arial, sans-serif;
    background: #333;
    margin-top: 100px;
    color: #ccc;
    font-size: 16px;
    padding: 10px;
    
}

.nobutton:hover .yes {
  -webkit-animation: yay 0.7s ease-out;
  animation: yay 0.7s ease-out;
}
.nobutton:hover .nope {
  -webkit-animation: nope 0.7s ease-out;
  animation: nope 0.7s ease-out;
}
.card {
  background: powderblue;
  color: #000;
}
.list ul.cardlist {
  padding-bottom: 20px;
}

/* Design of a card */
.card {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align:center;
    width: 400px;
    height: 600px;
    background: #666;
    
  }
  .cardcontainer {
    padding: 10px;
    text-align: center;
    width: 200px;
  }
  
  /* List functionality */
  .list .cardlist {
    margin: 0;
    padding: 0;
  }
  .list .card {
    display: none;
  }
  .list .current {
    display: block;
  }
  
  /* Button designs */
  
  .but-nope, .but-yay, .nopes, .yays {
    display: none;
  }
  
  .but-nope, .but-yay,
  .nopes, .yays {
    display: inline-block;
  }
  
  .cardcontainer button {
    background: #0c0;
    border: none;
    color: #fff;
    border-radius: 50% 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 .5em;
    display: inline-block;
  }
  .cardcontainer button:focus {
    outline: 0;
    background: #0f0;
  }
  .cardcontainer .but-nope {
    background: #c00;
  }
  .cardcontainer .but-nope:focus {
    outline: 0;
    background: #f00;
  }
  
  .cardcontainer.yes .card {
    
    animation: yay 0.7s ease-out;
  }
  .cardcontainer.nope .card {
    
    animation: nope 0.7s ease-out;
  }

  
  @keyframes yay {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(40deg) translateY(-80px);
      opacity: 0;
    }
  }
  
  @keyframes nope {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(-40deg) translateY(-80px);
      opacity: 0;
    }
  }
  
